<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Employee System</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication3.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="~/lib/bootstrap-table-master/dist/bootstrap-table.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">


</head>
<body id="body-pd">
    <div class="toast align-items-center bg-primary bg-gradient" id="validationMessage" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex justify-content-between">
            <div class="toast-body">
                <ul>
                </ul>
            </div>
            <button type="button" class="btn-close me-2 mt-2 float-end" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>


    @RenderBody()
    @RenderSection("script", required: false)
    @Html.Hidden("HiddenCurrentUrl", Url.Content("~"))


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/bootstrap-table-master/dist/bootstrap-table.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>


    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>


</body>
</html>
